@import url('https://fonts.googleapis.com/css?family=Iceland');
@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400');
/* ----------------
    GLOBAL
------------------*/

* {
    box-sizing: border-box;
}

html {
    font-size: 1em;
    font-family: 'Exo 2', sans-serif;
}

body {
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: 100%;

}

.no-display {
    display: none;
}

/* ---------------
REUSABLE COMPONENTS
-----------------*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 300px;
    grid-gap: 1em;
}

.flex-container {
    display: flex;
}

.flex-container-vertical {
    display: flex;
    flex-direction: column;
}

.navbar-brand span {
    font-size: 140%;
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
    vertical-align: middle;
    color: #ffffff;
}

.navbar-nav li {
    text-decoration: none;
    font-size: 110%;
}

    .navbar-nav li a {
        font-weight: 400;
    }

    .navbar-brand {
        border-right: solid #0000001f 3px;
    }

    .nav-logo {
        width: 100px;
        height: 50px;
    }

        .navbar-logo h1 {
            font-size: 140%;
        }

        .navbar .logo img {
            margin-right: 0.5em;
        }

.main-section {
    background-color: rgb(128, 201, 255, 0.1);
    background-size: cover;
    background-attachment: fixed;
    padding: 2em;
    height: 100%;
    position: relative;
}


/* --- Footer --- */

.footer {
    background-color: #333333;
    padding: 40px;
    font-size: 80%;
}

    .social-icons {
        list-style: none;
        float: right;
    }

        .social-icons li {
            display: inline-block;
            margin-right: 20px;
        }

        .social-icons li:last-child {
            margin-right: 0;
        }

        .social-icons li a:link,
        .social-icons li a:visited {
            text-decoration: none;
            border: 0;
            color: #888888;
            transition: color 0.2s;
        }


        .social-icons li a:link,
        .social-icons li a:visited {
            font-size: 160%;
        }

            .fa-facebook-square,
            .fa-twitter-square,
            .fa-google-plus,
            .fa-instagram {
                transition: color 0.2s;
            }

            .fa-facebook-square:hover {
                color: #3b5998;
            }

            .fa-twitter-square:hover {
                color: #00aced;
            }

            .fa-google-plus:hover {
                color: #dd4b39;
            }

            .fa-instagram:hover {
                color: #517af4;
            }


/* ---------------
    HOME
-----------------*/

/* --- Header --- */

.home-header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), 
        url('../img/color-crowd-wsky.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

    

.home-nav {
    position: absolute;
    bottom: 3%;
    color: #ffffff;
    font-size: 130%;
    background: transparent;
    font-size: 120%;
    width: 100%;
    align-items: center;
    box-shadow: none;
    padding: 0;
}

    .home-nav li {
        border-bottom: 3px solid transparent;
        transition: border 0.2s;
    }

    .home-nav .navbar-nav li:nth-child(1):hover {
        border-bottom: 3px solid #d65555;
    }

    .home-nav .navbar-nav li:nth-child(2):hover {
        border-bottom: 3px solid #df9739;
    }

    .home-nav  .navbar-nav li:nth-child(3):hover {
        border-bottom: 3px solid #47df39;
    }

    .home-nav  .navbar-nav li:nth-child(4):hover {
        border-bottom: 3px solid #39bedf;
    }

    .home-nav  .navbar-nav li:nth-child(5):hover {
        border-bottom: 3px solid #3056ff;
        
    }

    
.top-nav-collapse {
    background-color: #24355C;
  }
                          

.logo-container {
    color: #ffffff;
    font-family: 'Iceland', sans-serif;
    font-size: 300%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
} 

    .logo-container h1 {
        margin: 0;
    }

.logo {
    max-width: 420px;
    max-height: 280px;
    margin-bottom: 1.3em;
}
    

/* --- Line up --- */

.lineup-section {
    background-color: #f4f5c9;
    padding: 2em 0.5em;
    justify-content: space-around;
}

.poster {
    border: solid #ffffff 1em;
}

/* --- Reviews --- */

.reviews-section {
    background-image:  url('../img/helpstay-com-523059-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    padding: 2em 0.5em;
}

.reviews-container {
    width: 70%;
    margin: auto;
}

.review-container img {
    width: 40%;
}

/* ---------------
    LINE-UP
-----------------*/

.image-grid {
    width: 70%;
    margin: auto;
}

    .image-container img {
        -webkit-filter: blur(0);
        filter: blur(0);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .image-container:hover img {
        -webkit-filter: blur(3px);
	    filter: blur(3px);
    }

/* ---------------
    TICKETS
-----------------*/

.tickets-illustration {
    position: absolute;
    top: 1%;
    right: 0;
    bottom: 0;
    z-index: -1;
}

    .tickets-illustration img {
        width: 100%;
        height: 90%;
    }

.checkbox-teal [type="checkbox"]:checked+label:before {
    border-color: transparent #009688 #009688 transparent;
}
.camping-header{
    padding-top: 5%;
}
.mdb-lightbox{
    padding-right: 3%;
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 3500px 2475px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width:  3500px 2475px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

                
    
